%footer.footer
  .container-fluid.clearfix
    %span.text-muted.d-block.text-center.text-sm-left.d-sm-inline-block
      Copyright © 2018
      = succeed "." do
        %a{:href => "https://arbitrage.blockmox.io/", :target => "_blank"} Arbitrage
    %span.float-none.float-sm-right.d-block.mt-1.mt-sm-0.text-center
      Made by RBC
      %i.fa.fa-heart